@model SongsListViewModel

@foreach (var p in Model.Songs)
{
    @await Html.PartialAsync("SongSummary", p)
    <br />
}

@*Pagination Links*@
<div page-model="@Model.PagingInfo" page-action="ListNames" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-secondary"
     @*I added country to the URL Page*@
     page-class-selected="btn-primary" page-url-country="@Model.CurrentName"
     class="btn-group pull-right m-1">
</div>





