<form class="text-center" asp-route-songPage="1" asp-route-Name="@ViewBag.Name" asp-action="ListNames" asp-controller="Home" method="get">
    <div>
        <h3><span><u>Searching song through name:</u></span></h3>
    </div>
   
    <input type="text" name="Name" value="@ViewBag.Name" />
    <input class="btn btn-primary" type="submit" value="Search" />
</form>

