@model IEnumerable<string>

<center>
    <h3><span>Song Country:</span></h3>
</center>

<a class="btn btn-block btn-secondary"
   asp-action="ListCountry"
   asp-controller="Home"
   asp-route-country="">
    Home Page
</a>

@foreach (string Country in Model)
{
    <a class="btn btn-block
    @(Country == ViewBag.SelectedCountry ? "btn-dark": "btn-secondary")"
       asp-action="ListCountry"
       asp-controller="Home"
       asp-route-country="@Country"
       asp-route-songPage="1">
        Search @Country
    </a>
}