# Build folders
/bin/
/obj/
/publish/

# IDEs and user settings
.vs/
/.vscode/
*.user
*.suo

# OS files
.DS_Store

# Config and sensitive files
settings.json
appsettings.json
appsettings.production.json
secrets.json

# Databases and logs
*.db
*.log

# Debug symbols
*.pdb
