@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/content/myIcon.ico")" />
    <title>Songs Store</title>
    <environment include="Development">
        <link href="~/css/bundle.css" rel="stylesheet" />
        <link href="~/lib/fontawesome/css/font-awesome.css" rel="stylesheet" />
        <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous"
              asp-fallback-href="~/lib/bootstrap/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only"
              asp-fallback-test-property="position"
              asp-fallback-test-value="absolute"
              asp-suppress-fallback-integrity="true">
        <link rel="stylesheet" href="~/lib/fontawesome/css/font-awesome.min.css" asp-append-version="true" />
        <link href="~/css/bundle.min.css" rel="stylesheet" asp-append-version="true" />
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js">
        </script>
    </environment>
</head>
<body>
    <div role="navigation">
        <ul class="navBar">
            <li class="navBarli"><a class="navbar-brand text-white" asp-route-country="" asp-controller="Home" asp-action="ListCountry">Home Page</a></li>
            <li class="navBarli">
                <div class="navbar-brand text-white">
                    @await Component.InvokeAsync("CartSummary")
                </div>
            </li>
            @if (SignInManager.IsSignedIn(User))
            {
                @if (User.IsInRole("Admin"))
                {
                    <li class="navBarli">
                        <a asp-controller="Admin" asp-action="Index" class="navbar-brand text-white">Go to Admin Menu</a>
                    </li>
                    <li class="navBarli">
                        <a class="navbar-brand text-white marginButtonsNavBarAdmin" asp-controller="Administration" asp-action="ListUsers">Users</a>
                    </li>
                    <li class="navBarli">
                        <a class="navbar-brand text-white marginButtonsNavBarAdmin" asp-controller="Administration" asp-action="ListRoles">Roles</a>
                    </li>
                }
                <li class="navBarli">
                    <a class="navbar-brand text-white marginButtonsNavBarAdmin" asp-controller="Account" asp-action="ChangePassword">Change Password</a>
                </li>
                <li class="btn btn-light logOutButton">
                    <form method="post" class="formLogOutButton" asp-controller="Account" asp-action="Logout">
                        <button type="submit"
                                class="btn btn-link navbar-brand">
                            Logout @User.Identity.Name
                        </button>
                    </form>
                </li>
            }
            else
            {
                <li class="navBarli"><a class="navbar-brand text-white" asp-area="" asp-controller="Account" asp-action="Login">Log in</a></li>
                <li class="navBarli"><a class="navbar-brand text-white" asp-controller="Account" asp-action="Register">Register User</a></li>
            }
        </ul>
    </div>
    <div class="container body-content">
        <div class="row">
            <div id="countries" class="col-md-3">
                @await Component.InvokeAsync("NavigationSearch")
                <hr class="hrSearchViewComponent" />
                @await Component.InvokeAsync("NavigationMenu")
            </div>
            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>
        <hr />
        <footer>
            <p><center><span>&copy; 2020 - Songs Store</span></center></p>
        </footer>
    </div>

    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts", required: true)
    }

</body>
</html>
