/*-- Layout CSS --*/
.hrSearchViewComponent {
    border: 1px solid;
    border-style: solid;
}

.marginButtonsNavBarAdmin {
    margin: 0 2px;
}

.logOutButton {
    margin-top: 4px;
    margin-left: 8px;
    margin-bottom: 4px;
}

.formLogOutButton {
    margin-right: -14px;
}

/*-- Images CSS --*/
#imageThumbnail {
    height: 200px;
    width: 200px;
}

#imageStandart {
    height: 300px;
    width: auto;
    display: block;
    margin: 5px auto;
}

#imageSmall {
    width: 100px;
    height: 100px;
}

/*-- Song Summary CSS --*/
#borderSongSummary {
    border-style: solid;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    padding: 10px;
}

.pricelabel {
    float: right;
    margin-right: 10px;
}

.ratelabel {
    margin-right: 10px;
}

.spanCountryRating {
    margin: 10px 0 10px;
}

.hrSongSummary {
    border: 1px solid;
    border-style: solid;
}

.marginLastRowSongSummary {
    margin: 0 0 12px 0;
}

.descriptionSongSummary {
    font-size: 1em;
    font-weight: bold;
    margin: 0;
}

/*-- Navigation Search CSS --*/
.inputNameSongSearch {
    margin-bottom: 20px;
    margin-left: 2px;
    width: 100%;
}

.buttonNameSongSearch {
    margin-left: 2px;
}

/*-- Admin Index CSS --*/
#audioStyleIndex {
    width: 100px;
    padding-top: 15px;
}

/*-- Cart Index CSS --*/
.whiteTable {
    background-color: white;
}

.marginButtonRemove {
    text-align: center
}

.headlineCart {
    text-decoration: underline;
    margin: 10px 0 0 0;
}

/*-- Audio Player CSS --*/
#aPlayer > audio {
    width: 100%;
    filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
}

.aplayerClass {
    width: 100%
}

/*-- Nav Bar CSS --*/
.navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navBarli {
    float: left;
}

.navBarli a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px; 
    text-decoration: none;
}

.navBarli a:hover {
    background-color: #111;
}

#floatRight {
    float: right;
}

.autoWidth {
    width: auto;
}

.displayNone {
    display: none;
}