<div class="text-center">
    <h1 class="text-danger">Access Denied</h1>
    <h6 class="text-danger">
        Your order is not completed, Please check your cart and your order details.
    </h6>
    <img src="~/images/no-entry-909933_640.png" id="imageThumbnail" alt="Photo no entry" />
</div>